<main class="container quiz">
    <div class="quiz__container" [innerHTML]="output.join('') | sanitizeHtml" ></div>
    
    <section class="quiz__buttons">
        <span class="invalid-feedback"></span>
        <button class="btn btn-primary" id="previous" (click)="previousSlide()">Previous Question</button>
        <button class="btn btn-primary" id="next" (click)="nextSlide()">Next Question</button>
        <button class="btn btn-primary" id="submit" (click)="onSubmit()">Submit Quiz</button>
    </section>
</main>