<header class="header">
    <app-nav title="Foto Contest"></app-nav>
</header>

<main class="container">
  <a routerLink="/hashtags/create" class="btn btn-primary">
    Upload een foto
  </a>
  <div class="form-group">
    <select [(ngModel)]="selectedFilter" (change)="handleFilter()" class="form-control" name="filter">
      <option value="desc">Nieuwe Foto's</option>
      <option value="asc">Oude Foto's</option>
    </select>
  </div>
  <ng-container *ngIf="hashtags; else elseHashtags">
    <section class="hashtags" *ngFor="let photo of hashtags">
      <div class="photo">
        <i class="icon" (click)="photo.acf.likes ? clickLike(photo.id, photo.acf.likes) : clickLike(photo.id, 0)">
          <img id="like" src="../../../assets/svg/heart.svg">
        </i>
        <figure>
          <img src="{{photo._embedded['wp:featuredmedia'][0].source_url}}">
        </figure>
        <div class="photo__body">
          <div>
            <p>{{photo._embedded.author[0].name}}</p>
            <p *ngIf="photo.acf.likes">
              {{countLikes(photo.acf.likes)}} likes
            </p>
          </div>
          <div>
            <span class="hashtag">#{{photo._embedded['wp:term'][0][0].name}}</span>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-template #elseHashtags>
    Jammer genoeg kunnen we geen hashtags vinden
  </ng-template>
</main>