@import 'src/scss/abstracts/colors';
@import 'src/scss/abstracts/variables';

.photo {    
    position: relative;
    z-index: 0;
    margin: 1rem 0 2rem 0;
    
    & img {
        border-radius: $primary-radius;
    }

    & > .like {
        position: absolute;
        top: 1rem;
        right: 1rem
    }

    & > .cross {
        position: absolute;
        top: 1rem;
        left: 1rem
    }
}

.photo__body {
    display: flex;
    justify-content: space-between;

    & > span {
        color: $light-text-color;
    }
}

.hashtag {
    color: $primary-button-color;
}