<nav>
  <div class="nav__column">
    <i class="icon" id="menuOpen">
      <img src="../../../assets/svg/align-left.svg" alt="Hamburger Icon">
    </i>
    <div class="nav__side">
      <ul class="nav__menu">
        <i class="icon" id="menuClose">
          <img src="../../../assets/svg/cross.svg" alt="Close Menu Icon">
        </i>
        <li class="nav__menu--item">
          <a href="#">Home</a>
        </li>
        <li class="nav__menu--item">
            <a href="#">Login</a>
        </li>
        <li class="nav__menu--item">
            <a href="#">Register</a>
        </li>
        <li class="nav__menu--item">
            <a href="#"> Stats</a>
        </li>
        <li class="nav__menu--item">
            <a href="#">Friends</a>
        </li>
        <li class="nav__menu--item">
            <a href="#">Tips</a>
        </li>
        <li class="nav__menu--item">
            <a href="#">Settings</a>
        </li>
      </ul>
    </div>  
  </div>
  <div class="nav__column">
    <h1 class="brand">Sleep Tight</h1>
  </div>
  <div class="nav__column">
    <i class="icon">
      <img src="../../../assets/svg/user.svg" alt="Profile Icon">
    </i>
  </div>
</nav>