<main class="container landing">
    <section class="heading">
        <h1 class="brand">Sleep Tight</h1>
        <div class="border"></div>
        <h3>De app voor een goede nachtrust</h3>
    </section>
    <section class="landing-btns">
        <button class="btn btn-primary">
            <a routerLink="/register">Creëer een account</a>
        </button>
        <button class="btn btn-secondary">
            <a routerLink="/login">Heb je al een account? Log in</a>
        </button>
    </section>
</main>