@import 'src/scss/abstracts/colors';

header {
    margin-bottom: 1rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $accent-color;
    border-radius: 8px;
    box-shadow: 0 3px 15px $shadow-color;
    cursor: pointer;
    
    &:nth-child(2) {
        background: $primary-button-color;
    } 

    & > i > img {
        margin-top: 4px;
    }
}