// $primary-color: #00162D;
// $secondary-color: rgb(0, 32, 66);
// $accent-color: #5464FF;
// $primary-color: #001534;

$light-text-color: #9cb9e2;

$primary-color: #000D21;
$secondary-color: #002047;
$accent-color: #112957;
$shadow-color: #001333;

$primary-button-color: #0062fe;