.btn {
    width: 100%;
    outline: none;
    padding: 1rem;
    margin: 0.5rem 0;
    border: none;
    box-sizing: border-box;
}

.btn-primary {
    border-radius: $primary-radius;
    background: $primary-button-color;
    color: white;
}

.btn-secondary {
    border-radius: $primary-radius;
    background: transparent;
    border: 2px solid $accent-color;
}