form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    & > a {
        text-align: center;
        color: $light-text-color;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    color: white;   

    .form-control {
        border-radius: $primary-radius;
        padding: 1rem;
        outline: none;
        background: $accent-color;
        border: none;
        color: white;

        &::placeholder {
            color: $light-text-color;
        }
    }
}

select {
    color: white;
}
