.posts {
    display: flex;
    flex-wrap: wrap;

    .post {
        width: 100%;
        flex-basis: calc(50% - 0.75rem);
        color: white;
        
        &:nth-of-type(odd) {
            margin-right: 1.5rem;
        }

        .post__image {
            border-radius: 8px;
            width: 100%;
            height: 150px;
            background-size: cover;
        }
    }
}
