<main class="container">
    <h1>Jouw vrienden</h1>
    <div class="form-group">
      <input type="text" placeholder="Zoek je vriend" class="form-control">
    </div>
    <ng-container *ngIf="friends">
      
      <section class="friends">
        <div class="friend__element" *ngFor="let friend of friends">
          <figure>
            <img src="{{friend.avatar_urls[96]}}">
          </figure>
          <div class="friend__element--content">
            <h3>{{friend.name}}</h3>
            <span>{{friend.acf.school}}</span>
          </div>
        </div>
      </section>

    </ng-container>
</main>